<div>
  <h1>About page</h1>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta obcaecati
    aspernatur quasi dolores id, nemo at libero nisi nihil ullam vel fuga
    facilis accusantium tempore magnam quisquam voluptates impedit eaque.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi aliquid
    molestiae, atque ea assumenda molestias deserunt cum mollitia sequi
    reiciendis, perspiciatis vero impedit distinctio minus illum possimus quasi
    fuga? Et.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias sequi
    quia, velit aperiam, quod, architecto tempora itaque inventore aliquam
    aspernatur repudiandae fugit. Veritatis amet placeat necessitatibus enim
    aspernatur delectus blanditiis.
  </p>
</div>
